$small-breakpoint: 660px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$x-large-breakpoint: 1500px;

$primary-color: #1566c2;
$secondary-color: #eb981a;

$font-size-xs: 0.5rem;
$font-size-s: 0.75rem;
$font-size-m: 1rem;
$font-size-l: 2rem;
$font-size-xl: 4rem;

$base-width-xs: 24px;
$base-width-s: 30px;
$base-width-m: 36px;
$base-width-l: 50px;
$base-width-xl: 60px;

$calculator-ratio: 1.5;

$illustrator-padding-s: 16px;
$illustrator-padding-m: 32px;
$illustrator-padding-l: 64px;

$layout-animation-duration: 0.6s;

$secondary-font: "Kavivanar", cursive;
